[user]
[core]
	autocrlf = true
	excludesfile = C:\\Users\\Username\\.gitignore
	editor = notepad
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
[alias]
	ch = checkout
	b = branch
	c = commit
	s = status
	unstage = reset HEAD --
	last = log -1 HEAD
	a = add
	m = merge
	g = log --graph --format=\"%C(auto,green)%h%C(auto,reset)%C(auto,yellow bold)%d%C(auto,reset) %s > %C(auto,green)%ae%C(auto,reset)\" -15
	f = fetch --all
	ss = status -s
	aa = add -A
	bb = branch -vv
	ll = log --graph --abbrev-commit --decorate --first-parent
	wipe = checkout HEAD -- .
	ca = commit --amend
	ma = merge --abort
	bd = branch -D
	dno = diff --name-only
	d = diff
	chmod = update-index --chmod=+x
[user]
	email = alstrap50000@gmail.com
	name = Oleg Rachitsky
[advice]
[credential]
	helper = wincred
