[user]
	email =
	name =
[core]
	autocrlf=input
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[alias]
	a = add
	aa = add -A
	b = branch
	bb = branch -vv
	bd = branch -D
	c = commit
	ca = commit --amend
	ch = checkout
	chmod = update-index --chmod=+x
	d = diff
	dc = diff --cached
	dno = diff --name-only
	f = fetch --all
	g = log --graph --format=\"%C(auto,green)%h%C(auto,reset)%C(auto,yellow bold)%d%C(auto,reset) %s > %C(auto,green)%ae%C(auto,reset)\" -10
	last = log -1 HEAD
	ll = log --graph --abbrev-commit --decorate --first-parent
	m = merge
	ma = merge --abort
	r = remote
	ra = remote add
	rr = remote remove
	rv = remote -v
	s = status
	ss = status -s
	totalwipe = clean -f -d
	unstage = reset HEAD --
	wipe = checkout HEAD -- .
[advice]

